@{
    ViewData["Title"] = "Privacy and Other Policies";
}
<h1>@ViewData["Title"]</h1>

<h3>Section I - General Information</h3>
<p>This website is owned and operated by an unincorporate team of private developers (herafter referred to as "the development team.") The website is operated at a loss and generates no profits. This website and the development team are not representative of any corporation or business, nor are the developers of this site licensed or accredited to provide financial advice of any kind.</p>
<p>The purpose of this website and associated software (herafter referred to as "STS software") is to gather, aggregate, and analyze data on the impact of social media on market prices for unofficial research purposes. Nothing contained in this site or any STS software should be construed as advice of any kind.</p>
<hr />
<h3>Section II - Data We Gather</h3>
<p>STS software collects data from Twitter, Reddit, and various sources of historical market data (hereafter referred to as "market data.") STS Software also gathers some data from site visitors automically. This data can include but is not limited to the IP address of site visitors, what pages on this website they view, when they view them, and hyper-text transfer protocol messages sent to or from this website (hereafter referred to as "user data.")</p>
<p>STS software <b>does not</b> use cookies or any other means of tracking site viewers beyond this website.</p>
<h3>Section III - What We Do With Data</h3>
<p>Market data gethered by STS software is used in many ways in compliance with the directives of the owners of the respective data. Primarily it is displayed on this site in conjunction with related or correlated data from other sources.</p>
<p>User data gathered by STS Software is used <b>only</b> for the development team to improve STS software. This is primarily done by capturing and analyzing error data, but can also apply to user experience or other data. User data is never sold or strategically analyzed for any purpose other than improving STS software.</p>
<hr />
<h4>Use of STS software constitutes acceptance of these policies.</h4>